body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
.header {
  text-align: center;
  color: blueviolet;
}
.first-section {
  display: flex;
}
half-width {
  width: 50%;
}
section {
  width: 80%;
  margin: 0 auto;
}
.details-btn {
  padding: 10px 30px;
  background-image: linear-gradient(45deg, green, red, green);
}
.details-btn:hover {
  background-color: blueviolet;
}
.h {
  text-align: center;
}
.all-divissions {
  display: flex;
}
.Khulna {
  width: 170px;
  border: 3px solid gray;
  border-radius: 10px;
  box-shadow: 6px 6px 16px gray;
  justify-content: space-around;
  padding: 30px;
  margin: 0 auto;
}
.Khulna img {
  width: 100%;
}
